* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  max-width: 1200px;
  font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

h2, h3, h4 {
  color: #3f3f3f;
}

p {
  color: #6e6e6e;
  line-height: 1.4;
  font-size: 0.9rem;
}

h2 { 
  font-size: 2.2rem; 
}

h4 { 
  font-size: 1.25rem; 
  line-height: 1.4;
}

/* Header */
header nav ul {
  height: 4rem;
  padding: 0 1.5rem;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

header nav li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

header li span {
  font-size: 1rem;
}

header img {
  height: 2rem;
  width: auto;
}

header .logo {
  margin-right: auto;
}

header .logo span {
  font-size: 1.25rem;
}

header .logo .company-name {
  font-weight: bold;
  color: #222;
}

header .logo span {
  color: #8d8d8d;
}

header .nav-label {
  color: #333;
}

header .mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  header nav ul {
    gap: 0;
    justify-content: space-between;
  }

  header .mobile {
    display: inline;
  }

  header .desktop {
    display: none;
  }

  .nav-label,
  .logo span {
    display: none;
  }

  header .logo {
    margin-right: 0;
  }
}

/* Main Globals */
section {
  padding: 2rem 0 2rem 1.5rem;
}

section img, 
section video {
  width: 100%;
  height: auto;
}

.container {
  display: flex;
  gap: 1.5rem;
}

.media {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.content { 
  width: 40%; 
}

@media only screen and (max-width: 768px) {
  section {
    padding: 2rem 1rem;
  }

  .container {
    flex-direction: column;
    gap: 0;
  }

  .media,
  .content {
    width: auto;
  }
}

.item {
  display: flex;
  padding: 1rem 0 1rem 1rem;
}

.item .image-box { 
  width: 35%;
}

.item .description {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1.5rem;
}

.item .description p {
  margin: 0.5rem 0;
}

.item .mobile {
  display: none;
}

.focused {
  background-color: lightgray;
}

@media only screen and (max-width: 768px) {
  .item {
    display: block;
    padding: 0;
  }

  .item .image-box, 
  .item .description {
    width: 100%;
  }

  .item .description {
    padding: 1rem 2.5rem 0 1rem;
  }

  .item .mobile {
    display: inline;
  }

  .item .desktop {
    display: none;
  }

  .focused {
    background-color: transparent;
  }
}

/* Enrollment */
#enrollment {
  background-color: lightgray;
}

#enrollment .content .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 350px;
  height: 100%;
}

#enrollment h2 { margin-bottom: 2rem; }
#enrollment h4 { margin-bottom: 1.5rem; }

.button {
  padding: 0.5rem 0;
  color: white;
  background-color: #3f3f3f;
  text-align: center;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  #enrollment {
    padding: 0 0 2rem 0;
  }

  #enrollment .content .description {
    margin: 2rem 1.5rem 0 1.5rem;
    max-width: none;
  }

  #enrollment .content h2,
  #enrollment .content h4 {
    max-width: 350px;
  }

  .button {
    background-color: #8d8d8d;
  }
}

/* Information section */
#information {
  padding-top: 0;
  padding-bottom: 0;
}

#information .media { 
  padding-top: 2rem; 
  padding-bottom: 2rem;
}

#information .media .description {
  width: 90%;
}

#information .media img { margin-bottom: 1.5rem; }
#information .media h2 { margin-bottom: 1.5rem; }

#information .media .attribution { 
  margin-top: 3.5rem; 
  color: #222;
}

#information .content { 
  padding-top: 1rem;
  padding-bottom: 2rem;
  border-left: 1px solid lightgray;
}

#information .content ul {
  list-style: none;
}

#information .content li {
  border-bottom: 1px solid lightgray;
}

#information .content li a {
  text-decoration: none;
  color: dodgerblue;
  font-size: 0.9rem;
}

@media only screen and (max-width: 768px) {
  #information {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  #information .media {
    display: none;
  }

  #information .content {
    padding: 0;
    border-left: none;
  }

  #information .content ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  #information .content li {
    border-bottom: none;
  }
}

/* Courses section */
#courses {
  background-color: lightgray;
}